# dependencies
node_modules/
server/node_modules/

# environment files
server/.env

# logs
logs/
*.log

# uploaded template assets
public/template-assets/**/*
!public/template-assets/**/
!public/template-assets/**/.gitkeep
!public/template-assets/social-logos/*.svg
!public/template-assets/images/livinglogo.png

